@import "tailwindcss";

@theme {
  --color-rosa: oklch(0.5815 0.238264 355.6787);
  --color-rosaclaro: oklch(0.9472 0.0344 342.15);
  --color-azul: oklch(0.653 0.142163 236.8026);
  --color-naranja: oklch(0.7245 0.189 50.94);
  --color-gris: oklch(0.4495 0 0);
}

:root{
  font-size: 14px;
}

html, body{
  overflow: hidden;
  overscroll-behavior: none;
  height: 100%;
  position: sticky;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
}

* {
  font-family: Rubik;
}

input[type="text"]:focus {
  border: none;
}
button:hover {
  cursor: pointer;
}